<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link href="{{ asset('bundles/pallet/css/main.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>

{% block content %}
        <h1>Pallet specification {{ name }}</h1>
{% endblock %}
{# Easy way: dump the form, but no control of order: {{ form(form) }} #}
<div id=palletform>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.threed) }}
    {{ form_row(form.layout) }}
    {{ form_row(form.maxLoadingHeight) }}
    {{ form_row(form.maxLoadingWeight) }}
    <div>
    {{ form_row(form.plength_mm) }}
    {{ form_row(form.pwidth_mm) }}
    </div>
    {{ form_row(form.rows) }}

    {{ form_row(form.rollwidth_mm) }}
    {{ form_row(form.rollkgs) }}
    {{ form_row(form.diam_mm) }}
{{ form_end(form) }}
</div>

{% if image_path is defined %}
    <h2>Results</h2>
    <ul>
        <li>Rolls per pallet = {{ pallet.rollsperpallet }}</li>
        <li>Pallet height = {{ pallet.palletheight }} mm {% if pallet.heightexceeded %} ({{ pallet.heightexceeded }}) {%  endif %} </li>
        <li>Pallet weight = {{ pallet.kgsperpallet }} kgs {% if pallet.weightexceeded %} ({{ pallet.weightexceeded }}) {%  endif %} </li>
    </ul>
    <img src={{ image_path }} alt='Generated image'></img>
{% endif %}

<a href="https://github.com/Boran/pallet">by SB</a>

{#
{% block title "Pallet  " ~ name %}
{% block title "Pallet details  " ~ name %}
{% block content %}
    <h1>PALLET  {{ name }}!</h1>
{% endblock %}
 {{ form(form) }}
 {{ form_row(form.Calculate) }}
#}

</body>
</html>